body{
    width: 100vw;
    background-color: cadetblue;
}

.nav-nav{
    background-color: green;
    width: 100vw;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    height: 50px;
   
    
}

h1{

    color: red;
    position: absolute;
    top: 0px;
    left: 300px;
    cursor: pointer;
    
}

h2{

    color: white;
    font-size: 25px;
    cursor:pointer;

}

.container-app{

background-color: gray;
height: max-content;
width: 100vw;
display:flex;
flex-wrap: wrap;
justify-content: flex-start;
align-items: flex-start;

}

.classcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    margin: 20px 10px;
    





}
.imageclass{
 width: 300px;
    height: 300px;
    cursor: pointer;
    
}

.sinopsis{

    color: black;
    font-size: 20px;
    top:20px;
    text-align: center;

}




@media only screen and (max-width: 600px) {
    .nav-nav{
        background-color: black;
    }





    
  }


  @media only screen and (max-width: 1270px) {
    .nav-nav{
        background-color: red;
        width: 100vw;
        position: absolute;
        margin-top: 0;
        
        
    }






    
  }